!!!5 
     html
	head 
	     title Orange Door - pho
	     include includes/head
	body.pho.inner
	  .bar
	section#content
		header
		  include includes/logo
		  active = '/pho.html'
		  include  includes/menu
		include en/pho
	include includes/footer
