!!!5 
     html
	head
		title Orange Door - specialties
		include includes/logo
	body.inner
		.bar
		section#content
			header
				include includes/logo
				active = '/specialties.html'
				include includes/logo
			include includes/menu
		include en/specialties
	include includes/footer
			
