!!!5 
     html
	head
		title Orange Door - wok
		include includes/logo
	body.inner
		.bar
		section#content
			header
				include includes/logo
				active = '/wok.html'
				include includes/logo
			include includes/menu
		include en/wok
	include includes/footer
			
