<!DOCTYPE HTML>
<html lang="en-us">
      <head>
		<title> Jenkins </title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta charset="utf-8">
		
 	</head>
	<body>
		<div id="wrapper">
		<header id="head">
			<h1> Jenkins </h1>
			<span> Building it out</span>
		</header>
		<nav id="top_menu">
		<ul>
			<li>Home</li>
			<li>How It Works</li>
			<li>About</li>
			<li>Faq</li>
			<li>Contact</li>
		</ul>
	</nav>
		<section id="content">
		
				<article>
					<header>
						<h2> About </h2>
						</header>
							<p> One of the first things you’ll notice is that we’ve switched from the send api to sendfile. While we could embed large HTML strings into our app.js file, that would get messy pretty darn quickly. We’ve got three routes for this application. One for the home page, one for an “About” page, and one for an article. Typically the article page would represent one blog entry, but for now, we’re keeping things simple.
							</p>
					<footer>
					Created by <a href=""></a>
					</footer>
				</article>
				<article>
					<header>
						<h3> Basics</h3>
					</header>
						<p> </p>
					<footer>Date added</footer>
				</article>
					
				<aside id="sidebar">
				</aside>

		</section>
		<footer id="footer">
			<p> Copyright 2013  </p>
		</footer>
		</div>
	</body>
</html>