!!!5
html
  head
    title Orange Door Bistro - Authentic Vietnamese Cuisine
    include includes/head
  body 
       .bar
       section#content
	header
		include inludes/logo
		active = '/'
		include includes menu
	section#logos
		.content
		include includes/app-logos
	section#intro
		.content
		include includes/intro
	include includes/footer