<!DOCTYPE Html>
<html lang="en-US">
      <head>
		<meta charset="utf-8">
		<link rel="stylesheet" href="/Users/fespeez/Projects/blogr/public/back.css">
		<title>Back drop</title>
      </head>
<body>
	<div class="wrapper">
	<header>
		<h1> Orange Door </h1>
		     <span>Beyond just Pho</h1>
		<nav id="menu"></nav>
	</header>
	<section id="main">
		 
		 <article>
			<header='story'></header>
		</article>
	</section>
	<section id="news">
		 <article>
			<header='story'></header>
		</article>
	</section>
	<section id='extra">
		 <article>
			<header='story'></header>
		</article>
	</section>
	<footer></footer>
	</div>
</body>
</html>