include mixins

nav.clearfix
  +item('/') Home
  +item('/api.html') Apetizers
  +item('/guide.html') Salads & Sandwhiches
  +item('/applications.html')Curry
  +item('/community.html') Pho
  +item('/faq.html')Desert
